@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --green: #1fa463;;
}

body {
  background: #f0fdf4;
  color: #0f172a;
  font-family: "Poppins", sans-serif;
}

input:focus {
  outline: none;
  border-color: var(--green);
  box-shadow: 0 0 0 2px rgba(22, 163, 74, 0.25);
}