@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: #1fa463; /* green */
  color: white;
}

button:hover {
  background-color: #1fa463;
}.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px;
}

.eye-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #999;
}

.eye-btn:hover {
  color: #333;
  background: transparent;
  outline: none;
  
}